h1
{
	color: red; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bgi.jpg");
	background-position: canter;
	background-size: cover;

}

#mycanvas{
	border-width: 10px;
background-color: aliceblue;
border-style: ridge;

}
span{
	font-size: 20px;
	
}